table, td, tr{
    border: 1px solid;
    background-color:mediumaquamarine;
}
a{
    color: rgb(12, 255, 4)
}
h1{
    background-color:coral
}
ul{
    color: rgb(217, 255, 0)
}
caption{
    border: 2px solid;
    background-color:rgb(170, 197, 16)
}